
{% if user.is_authenticated %}
Logged in as  {{user.username}}

<a href="{% url 'createtodo' %}">Criar</a>
<a href="{% url 'currenttodos' %}">Atuais</a>
<a href="{% url 'completedtodos' %}">Concluidas</a>

<form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">logout </button>
</form>

{% else %}

<a href="{% url 'signupuser' %}">Sign up  </a>
<a href="{% url 'loginuser' %}">Login  </a>

{% endif %}
<br><br>
{% block content %}

{% endblock %}